<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Tinder Clone</h5>

  <% if account_signed_in? %>
  <nav class="my-2 my-md-0 mr-md-3">
  <%= link_to "Browse", "#", class: "text-dark mr-3 " %>
  <%= link_to "My Matches", "#", class: "text-dark mr-3 " %>
  <%= link_to "Settings", "#", class: "text-dark" %>
  </nav>
  <% else %>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>


    <%= link_to "Sign up", new_account_registration_path, class: "btn btn-outline-primary" %>
    <%= link_to "Sign in", new_account_registration_path, class: "btn btn-outline-secondary mr-2" %>
  <% end %>
</div>
